

.about-me{
    padding: 4.5rem 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .button{
        height: 20rem;
        width: 20rem;
        margin-bottom: 4.5rem;

        .bottom-layer{
            background: black;
            top: 8px;
            right: 8px;
            bottom: -8px;
            left: -8px;
            border-radius: 10px;
        }
        .top-layer{
            border-radius: 10px;
            background: $red;
            border: 1.5px solid rgba(0, 0, 0, 0.8);
            justify-content: end;
            overflow: hidden;

            img{
                width: 100%;
                height: auto;
                margin-bottom: -2px;
            }
        }

        &:hover {
            .top-layer {
              top: -8px;
              right: -8px;
              bottom: 8px;
              left: 8px;
            }
          }
    }
}
  

@media (min-width: $desktop) {
    .about-me{
        padding: 6rem 14%;
        flex-direction: row;
        justify-content: space-between;
        gap: 7rem;


        .section-content{
            width: auto;
            gap: 1rem;
        }

        .button{
            min-width: 20rem;
            width: 20rem;
        }
    }
}
