
.new-switch{
    padding: 4rem 1.5rem;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .section-title{
        margin-bottom: 2rem;
    }
    .facts-switch{
        width: 100%;

        .switcher{
            color: $red;
            cursor: pointer;
        }
        .switcher:hover{
            text-decoration: underline;
        }
    }
}


.section-switch{
    border: 0px solid salmon;
    width: 100%;
    height: 5rem;
    display: flex;

    padding: 0 14%;

    div{
        background: lightgoldenrodyellow;
        border: 1px solid black;
        flex: 1;

        display: grid;
        place-items: center;
    }
}

.facts-section{
    background: #FBFBFD;
    // background: white;
    padding: 4rem 0;
}



@media (min-width: $desktop) {
    .new-switch{
        padding: 4rem 20%;
    }
}