
.big-card-padding{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;

    .big-card{
        height: 50vh;
        width: 100%;
        padding: 4rem 1.5rem 0 1.5rem;
        border: 1px solid black;
        border-radius: 1rem;
        position: relative;

        text-decoration: none;
        color: inherit;

        .card-content{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            // border: 1px solid red;

            h4.card-title{
                font-size: 1.75rem;
                font-weight: lighter;
                color: white;
            }
            .card-title-line{
                margin: 1.25rem 0 1rem 0;
                height: 1px;
                width: 40px;
                background: $white-20;
            }
            .card-subtitle{
                color: $white-50;
                font-size: 0.75rem;
                letter-spacing: 0.5px;
                font-weight: 200;
                line-height: normal;
            }
        }
    }

    .big-card#notsure{
        background: #F7F7F7;
        
        .card-content{
            h4{
                color: $dark;
            }
            .card-title-line{
                background: $dark-20;
            }
            p{
                color: $dark-50;
            }
        }
    }
    .big-card#moonlog{
        background: $dark;
    }
    .big-card#react-stats{
        background: #4AA4DC;
    }
}



