


.case{
  height: 100%;
  width: 100vw;

  border: 0px solid red;


  .case-background{

    border: 0px solid green;
    background: $red;
    min-height: 400px;
    height: 42%;
    width: 100%;
  }

  .case-info{
    padding: 0 1.5rem;

    .case-title{
      padding: 1.5rem 0;

      letter-spacing: -0.1rem;
      border-bottom: 1px solid $grey-50;
    }

    .case-boxes{
      padding: 1.5rem 0;
      display: grid;
      gap: 1rem;

      .case-box{
        height: 5rem;
        width: 100%;
        border: 1px solid $dark-20;
        border-radius: 5px;


        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;


        .case-box-key{
          color: $dark-50;
          font-size: 0.8rem;
          font-weight: 200;
          text-transform: uppercase;
          letter-spacing: 0.07rem;
          margin-bottom: 0.5rem;
        }

        .case-box-value{
          font-size: 1rem;
          font-weight: 400;
        }
      }
    }
  }
}



