

.case-background.Blockify{
    background: $blockify;

    .case-background-image{
        width: 100%;
    }
}

.case-background.Moonlog{
    background: $moonlog;

    .case-background-image{
        bottom: -8%;
    }
}


.case-background.Not.Sure{
    background: none;

    .case-background-image{
        width: 100%;
        height: 100%;
    }
}

.case-background.UX-100{
    background: none;
    .case-background-image{
        height: 100%;
        width: 100%;
        left: 0;
    }
}


// Desktop
.case-desk.Moonlog{
    background: #121212;
    overflow-y: hidden;

    .case-desk-bg{
        margin-bottom: -2%;
    }
}

.case-desk.Not.Sure{
    background: none;
    overflow-y: hidden;

    .case-desk-image{
        width: 60%;
        height: auto;
        margin-left: 0;
    }
}


.case-desk.UX-100{
    background: none;
    .case-desk-bg{
        width: 60%;
        height: auto;
        margin-left: 0;
    }
}


