

.casestudy{

    .invisible-nav{
        height: 4rem;
    }
    .case-hero{
        position: relative;
        width: 100%;
        height: 50vh;
    
        img{
            height: 100%;
            width: 100%;
        }

        .alternative-img{
            display: none;
        }
    }
    
    .case-info{
        width: 100%;
        height: 30vh;
        padding: 2rem 1.5rem;
    
        h1.case-title{
            color: $dark-80;
            text-transform: uppercase;
            font-size: 3rem;
            letter-spacing: -3px;
        }
    
        h3.case-subtitle{
            margin-top: 0.5rem;
            color: $dark-50;
            text-transform: uppercase;
            font-size: 0.75rem;
            font-weight: 300;
            letter-spacing: 0.5px;
        }
        .hero-btn-container{
            margin-top: 1.5rem;
            display: flex;
            gap: 1rem;

            .button img{
                height: 1.2rem;
            }
        }
    }
    
    
    .case-infoblock{
        height: 100vh;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .case-section-title{
            color: $dark-80;
            text-transform: uppercase;
            letter-spacing: 0;
        }

        .section-line{
            margin-top: 2.5rem;
            height: 1px;
            background: $dark-20;
            width: 5rem;
        }

        .infoblock-half-right{
            p{
                margin-top: 2rem;
                text-align: left;
            }
        }

    }

    .case-imageblocks{
        height: 100%;
        width: 100%;
        padding: 1.5rem;

        img{
            margin-bottom: 1.5rem;
        }
    }

    .summing-it-up{
        margin-top: 5rem;
        margin-bottom: 5rem;
        width: 100%;
        height: 100%;

        .case-infoblock{
            height: 100%;

            p{
                color: $dark;
            }
        }

        .stats-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 2rem;

            .stat-box{
                .stat-value{
                    font-family: $os;
                    font-size: 2rem;
                    font-weight: 500;
                    letter-spacing: -1px;
                    color: $dark-80;
                }
                .stat-title{
                    font-family: $os;
                    margin-top: 0.75rem;
                    font-size: 0.8rem;
                    // text-transform: uppercase;
                    color: $dark-50;
                }
            }
        }
    }
}


.case-hero#img-reactstats{
    // background: url(../../public/assets/images/react-stats/casehero3.png);
    background-position: center;
    background-size: cover;
    height: 60vh;
    background: linear-gradient(101.5deg, #099CCE -1.29%, #1A17B4 184.24%);
    mix-blend-mode: normal;
    overflow: hidden;

    // background: radial-gradient(117.38% 239.16% at 76.76% 29.32%, #787878 0%, #000000 100%);
    // mix-blend-mode: overlay;

    .alternative-img{
        display: block;
        position: absolute;
        bottom: -12%;
        left: 7.5%;
        width: 40%;
        height: auto;
        // aspect-ratio: 1 / 2.053;
    }
}

@media only screen and (min-width: 1200px) {
    .case-hero#img-reactstats{
        height: 100vh;
    }
}





@media only screen and (min-width: 1200px) {

    .casestudy{

        .invisible-nav{
            height: 5rem;
        }

        .case-hero{
            width: 100vw;
            height: 110vh;
            background: url("../../public/assets/images/moonlog/hero_branch3.webp");
            background-size: cover;
            background-position: center;
            img{
                display: none;
            }
        }

        .case-info{
            height: 75vh;
            padding: 5rem 5rem;
            h1.case-title{
                margin-left: -0.5rem;
                font-size: 6.5rem;
            }
            h3.case-subtitle{
                margin-top: 2rem;
                font-size: 1rem;
                font-weight: 400;
            }
            .hero-btn-container{
                margin-top: 2rem;
                display: flex;
                gap: 1.5rem;
                .button{
                    width: 7rem !important;
                }
            }
        }

        .case-infoblock{
            padding: 1.5rem 5rem;
            flex-direction: row;
            justify-content: center;
            align-items: center;

      
            .infoblock-half-left{
                flex: 1;
                display: flex;
                justify-content: end;
                align-items: center;
            }

            .infoblock-half-right{
                flex: 1;
                padding-right: 5rem;
            }

            .case-section-title{
                margin-right: 25%;
            }

            .section-line{
                margin-right: 25%;
                margin-top: 0;
                width: 1px;
                height: 20rem;
            }
        }
    
        .case-imageblocks{
            padding: 5rem;

            img{
                margin-bottom: 5rem;
            }
        }

        .infoblock-half-right{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 4rem;

            p{
                align-self: flex-start;
                padding-right: 5rem;
            }

            .summing-it-up{
                margin: 0;
                .stats-container{
                    padding: 0;
                    padding-right: 5rem;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
        }

    }
}






@media only screen and (min-width: 1500px) {
    .casestudy{
        .case-info{
            padding: 5rem 14%;
        }
        .case-imageblocks{
            padding: 14%;
            img{
                margin-bottom: 14%;
            }
        }
        .case-infoblock{
            padding: 5% 14%;
        }
    }
}
