

.github{
    padding: 4.5rem 1.5rem;
    background: #F8F8F8;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .button{
        height: 20rem;
        width: 20rem;
        margin-bottom: 2rem;

        .bottom-layer{
            top: 8px;
            right: -8px;
            bottom: -8px;
            left: 8px;
            border-radius: 10px;
        }
        .top-layer{
            border-radius: 10px;
            background: black;
            border: 1.5px solid rgba(0, 0, 0, 0.8);
         
            display: grid;
            place-items: center;

            img{
                width: 80%;
                height: auto;
                margin-bottom: -2px;
            }
        }

        &:hover {
            .top-layer {
              top: -8px;
              right: 8px;
              bottom: 8px;
              left: -8px;
            }
        }
    }
}



  
