@import "../App.scss";

.projects{
    width: 100%;
    height: 100%;
    padding: 0rem 1.5rem 7rem 1.5rem;

    display: grid;
    gap: 3rem;
    background: white;


    .projectcard{
        border: 0px solid red;

        position: relative;
        cursor: pointer;
        width: 100%;
        height: 295px;

        .bottom-card{
            position: absolute;
            top: 4px; right: 4px;
            bottom: -4px; left: -4px;
            background: none;
            border-radius: 5px;
            border: 1px solid hsl(0, 0%, 0%, 30%);
        }

        .top-card{
            position: absolute;
            top: 0; right:0;
            bottom: 0; left: 0;
            background: white;
            border-radius: 5px;
            border: 1px solid $dark-80;

            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;

            transition: all 0.3s ease;

            .bg-card{
                height: 52.5%;
                border: 0px solid orange;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                overflow: hidden;

                position: relative;
                display: grid;
                place-items: center;

                .bg-card-img{
                    position: absolute;
                    top: 0; bottom: 0;
                    right: 0; left: 0;
                    width: 100%;
                    height: 100%;
                    background: url(../../public/assets/home/b2.png);
                    background-size: cover;
                    background-position: center;

                    border: 0px solid orange;
                }
            }
            .content-card{
                height: 47.5%;
                border: 0px solid green;
                padding: 1rem;
                border-top: 1px solid $dark-80;

                display: flex;
                flex-direction: column;

                h4{
                    margin-bottom: 0.5rem;
                }
                p{
                    font-weight: 200;
                    font-size: 0.8rem;
                    color: $dark-50;
                }

                .tabs-pool{
                    margin-top: auto;
                    border: 0px solid red;
                    display: flex;
                    gap: 1rem;
                }

                .tabs-container{
                    height: 1.4rem;
                    width: auto;
                    border-radius: 3px;
                    border: 1px solid hsla(0, 0%, 50%, 0.5);
                    padding: 6px;
                    background: hsla(0, 0%, 50%, 0.01);

                    display: flex;
                    align-items: center;


                    .tabs-color{
                        height: 0.6rem;
                        width: 0.6rem;
                        background: hsla(0, 0%, 50%, 0.5);
                        margin-right: 6px;
                        border-radius: 1.5px;
                    }

                    .tabs-text{
                        color: black;
                        font-size: 0.5rem;
                    }
                }
            }
        }



        &:hover{
            .top-card{
                top: -4px; right: -4px;
                bottom: 4px; left: 4px;
            }
        }
    }
}

// $designTabs: (
//     userresearch: #A1BFE4,
//     uxdesign: #9ECBE6,
//     interactiondesign: #9BD7E9,
//     visualdesign: #A2DFE8,
//     uidesign: #B0EFE6,
// );

// $codingTabs: (
//     mobile: #F3A541,
//     coding: #EA823F,
//     frontend: #E15F3E,
//     backend: #D83C3C,
//     datascience: #B23E42
// );

// @each $class, $color in $designTabs {
//     .projects .projectcard .content-card .tabs-pool .tabs-container.#{$class} {
//         background: rgba($color, 0.1);
//         border-color: $color;
      
//         .tabs-color {
//           background: $color;
//         }
//     }
// }

// @each $class, $color in $codingTabs {
//     .projects .projectcard .content-card .tabs-pool .tabs-container.#{$class} {
//         background: rgba($color, 0.1);
//         border-color: rgba($color, 0.5);
      
//         .tabs-color {
//           background: $color;
//         }
//     }
// }


@media only screen and (min-width: 1200px) {
    .projects{
        padding: 0rem $p-mobile 7rem $p-mobile;
        display: flex;
        flex-direction: column;

        .projectcard{
            margin-left: auto;
            margin-right: auto;
            max-width: 400px;

            .top-card .content-card .tabs-container{
                height: 1.6rem;
                padding: 0.5rem;

                .tabs-text{
                    font-size: 0.6rem;
                }
            }
        }
    }
}

