

.skills-section{
    padding: 0 1.5rem 1.5rem 1.5rem;
    width: 100%;

    .skills-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5rem;

        .skills-card{
            position: relative;
            aspect-ratio: 1 / 1.6;
            cursor: pointer;
            
            border: 0px solid salmon;
            background: #F8F8F8;
            border-radius: 5px;
            box-shadow: 0 0 8px 0 hsla(0, 20%, 5%, 0.2);
            transition: box-shadow ease-out 300ms, transform ease-out 300ms;

            display: grid;
            place-items: center;

            img{
                height: 30%;
                width: auto;
                margin-top: -30%;
                filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.2));
                transition: transform ease-out 300ms, filter ease-out 300ms,
            }

            .skill-info{
                position: absolute;
                bottom: 10%;

                text-align: center;
                transition: transform ease-out 300ms;

                .skill-title{
                    font-size: 1rem;
                    text-transform: lowercase;
                    color: $dark-80;
                    margin-bottom: 0.5rem;
                }
                .skill-type{
                    font-size: 0.85rem;
                    color: $dark-20;
                }
            }
        }
        .skills-card:hover{
            box-shadow: $box-shadow-hover;
            transform: scale(1.02);

            img{
                filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.3));
                transform: scale(1.04);
            }
            .skill-info{
                transform: scale(1.04);
            }
        }
    }
}


@media only screen and (min-width: 1200px) {
    .skills-section{
        padding: 0 14% 3rem 14%;
        .skills-grid{
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

            .skills-card{
                // border-radius: 10px;

                img{
                    height: 28%;
                }
                .skill-info{
                    .skill-title{
                        font-size: 1.25rem;
                    }
                    .skill-author{
                        font-size: 0.85rem;
                    }
                }
            }
        }
    }
}